trigger:
  branches:
    include:
      - main
  paths:
    include:
      - frontend/**
      - backend/**



variables:
  - group: SONAR  # Contains acrUsername and acrPassword
  - name: SONAR_PROJECT_KEY
    value: 'job-hunt'  # Used both in ACR and Container App
  - name: SONAR_HOST_URL
    value: 'http://20.84.163.239:9000'  # Used both in ACR and Container App

pool:
  vmImage: ubuntu-latest

stages:

# ---------------------------
# QUALITY STAGE
# ---------------------------
- stage: Quality
  displayName: "Code Quality"
  jobs:
    - job: QualityJob
      displayName: "Sonar Analysis"
      steps:
        - checkout: self

        - task: NodeTool@0
          inputs:
            versionSpec: '18.x'

        # Install & Lint
        - script: |
            cd frontend && npm install
            cd ../backend && npm install
          displayName: "NPM build and installation"

        # SonarQube Analysis
        - script: |
            npm install -g sonar-scanner
            sonar-scanner \
              -Dsonar.projectKey=$(SONAR_PROJECT_KEY) \
              -Dsonar.sources=. \
              -Dsonar.host.url=$(SONAR_HOST_URL) \
              -Dsonar.login=$(SONAR_TOKEN) \
              -Dsonar.javascript.lcov.reportPaths=frontend/coverage/lcov.info,backend/coverage/lcov.info

          displayName: "Run SonarQube Analysis"

# ---------------------------
# BUILD STAGE
# ---------------------------
- stage: Build
  displayName: "Build Artifacts"
  dependsOn: Quality
  jobs:
    - job: BuildJob
      displayName: "Build Frontend & Backend"
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '18.x'

        - script: |
            cd frontend && npm install && npm run build && cd ..
            cd backend && npm install --production && cd ..
            tar -czf $(Build.ArtifactStagingDirectory)/frontend.tar.gz frontend/build
            tar -czf $(Build.ArtifactStagingDirectory)/backend.tar.gz backend
          displayName: "Package Artifacts"

        - task: PublishBuildArtifacts@1
          inputs:
            pathToPublish: '$(Build.ArtifactStagingDirectory)'
            artifactName: 'app-artifacts'
            publishLocation: 'Container'
